body {
  padding: 0;
  margin: 0;
  background-image: url("../image/back.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* header */

header nav {
  text-align: center;
  background-color: rgb(78, 131, 183);
  padding: 24px;
  border: 1px solid black;

  /* width: auto; */
  /* position: relative; */
}
header img {
  max-width: 80px;
  width: 20%;
}
header nav a {
  /* font-size: 24px; */
  color: white;
  padding: 24px;
}

header nav a:hover {
  background-color: blue;
}

.active {
  background-color: blue;
}
a {
  text-decoration: none;
  width: 20px;
}

nav input {
  background-color: dodgerblue;

  width: 200px;
  font-size: large;
}

footer img {
  width: 40px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgb(78, 131, 183);
}
footer p {
  font-family: "Times New Roman", Times, serif;
}

.signform {
  background-color: cadetblue;
  height: auto;
  width: 300px;
  margin: auto;
  padding: 10px;
  border: 0px solid rgb(9, 54, 56);
  border-radius: 20px;
}

.signhead {
  background-color: rgb(31, 93, 96);
  text-align: center;
  height: 50px;
  color: rgb(166, 217, 220);
}

.way {
  color: aliceblue;
  font-size: large;
  margin-top: 2%;
  margin-left: 2%;
}

.from-to {
  color: aliceblue;
  font-size: large;
  margin-top: 2%;
  margin-left: 2%;
}

.dep-return {
  color: aliceblue;
  font-size: large;
  margin-top: 2%;
  margin-left: 2%;
}

.aud-chi {
  color: aliceblue;
  font-size: large;
  margin-top: 2%;
  margin-left: 2%;
}
.submit-but {
  text-align: center;
}
.submit-but input {
  background-color: dodgerblue;
  width: 100px;
  font-size: medium;
}

.summary {
  width: 70%;
  float: right;
  text-align: right;
}

.contact {
  width: 30%;
  background-color: rgb(230, 235, 239);

  float: left;
}

main {
  margin: 5%;
}
article {
  width: auto;
  height: 300px;
}
