body {
  padding: 0;
  margin: 0;
  /* font-family: Arial, sans-serif; */
  background-image: url("../image/back.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header nav {
  text-align: center;
  background-color: rgb(78, 131, 183);
  padding: 24px;
  border: 1px solid black;
  /* margin: auto; */
}
header img {
  max-width: 80px;
  width: 20%;
}
header nav a {
  /* font-size: 24px; */
  color: white;
  padding: 24px;
  margin: auto;
}

header nav a:hover {
  background-color: blue;
}

.active {
  background-color: blue;
}

a {
  text-decoration: none;
}

footer img {
  width: 40px;
}

footer {
  position: relative;
  /* width: 100%; */
  text-align: center;
  background-color: rgb(78, 131, 183);
}
footer p {
  font-family: "Times New Roman", Times, serif;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: cadetblue;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #0077be;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #005f9f;
}
label {
  margin-top: 10px;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
